node_modules/
Assignment1/1A/img
Assignment1/1A/example_node/img
.~lock*
02*.gif
02*.txt
baseline*.txt
tmp*
Assignment2/latex_output/_minted*
Assignment2/report.aux
Assignment2/report.fdb_latexmk
Assignment2/report.fls
Assignment2/report.log
Assignment2/report.out
Assignment2/report.pyg
Assignment2/report.synctex.gz
Assignment2/_minted-report/25EF9B3429D441069853F59E50EDC546F73D778D6577DD371281B40198477396.pygtex
Assignment2/_minted-report/B6CE9060137B625FCA9E6CE6E867DCE5F73D778D6577DD371281B40198477396.pygtex
Assignment2/_minted-report/default.pygstyle
.vscode/settings.json
